.App {
  text-align: center;
}
h1 {
  font-size: 20pt;
}
.App-bar {
  padding: 10px;
  align-items: flex-start;
}
.App-header {
  background-color: #ff3726;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
